#about {
   padding-top: 6rem;
   padding-left: 3rem;
   padding-right: 3rem;
}

.about-container {
   width: 90%;
   margin: 0 auto;
}

.about-content {
   display: flex;
   flex-direction: space-around;
   justify-content: center;
   align-items: center;
}

.about-image {
   flex: 1;
   justify-content: flex-start;
   align-items: flex-start;
}

.about-text {
   flex: 1;
   color: #fff;
   font-weight: 300;
}

.about-image img {
   width: 100%;
   height: auto;
}

.about-text span {
   font-size: 24px;
   position: relative;
   font-weight: 300;
}

.about-text span::after {
   position: absolute;
   content: "";
   background-color: var(--btn-color);
   height: 5px;
   border-radius: 5px;
   bottom: -1rem;
   margin: 0 auto;
   left: 0;
   right: 0;
   width: 30%;
}

.about-text h1 {
   padding-top: 2rem;
   font-size: var(--title-big-about);
   line-height: 3rem;
   font-weight: 300;
}

.about-text p {
   padding-top: 2rem;
   font-family: var(--font-secondary);
   line-height: 1.5rem;
}

@media (max-width: 1200px) {
   .about-text span {
      font-size: 20px;
   }

   .about-text h1 {
      padding-top: 2rem;
      font-size: 30px;
      line-height: 3rem;
      font-weight: 300;
   }

   .about-text p {
      padding-top: 2rem;
      font-family: 18px;
      line-height: 1.5rem;
   }
}

@media (max-width: 1024px) {
   #about {
      padding: 2rem;
   }

   .about-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .about-text {
      flex: 1;
      color: #fff;
      font-weight: 300;
      text-align: center;
   }
}

@media (max-width: 600px) {
   #about {
      padding-top: 6rem;
      padding-left: 0rem;
      padding-right: 0rem;
   }

   .about-image img {
      width: 400px;
      height: auto;
   }

   .about-text span {
      font-size: 20px;
   }

   .about-text h1 {
      padding-top: 2rem;
      font-size: 25px;
      line-height: 2.25rem;
      font-weight: 300;
   }

   .about-text p {
      padding-top: 2rem;
      font-family: 16px;
      line-height: 1.5rem;
   }
}

@media (max-width: 500px) {
   .about-image img {
      width: 300px;
      height: auto;
   }

   .about-text span {
      font-size: 20px;
   }

   .about-text h1 {
      padding-top: 2rem;
      font-size: 24px;
      line-height: 2.25rem;
      font-weight: 300;
   }

   .about-text p {
      padding-top: 2rem;
      font-family: 15px;
      line-height: 1.5rem;
   }
}
