#roadmap {
   min-height: 100vh;
   width: min(800px, 80vw);
   margin: 6rem auto;
   font-weight: 100;
   color: white;
}

#roadmap p {
   font-family: var(--font-secondary);
   font-size: 15px;
}

#roadmap .card {
   display: flex;
   flex-direction: column;
   gap: 1em;

   border: none;
   border-radius: 10px;
}

#roadmap .card h2 {
   font-weight: 300;
   font-size: 24px;
}

#roadmap .tablet-desktop {
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 100%;
}

#roadmap .tablet-desktop .card {
   max-width: 75%;
   margin-bottom: 30px;
   position: relative;

   /* background-color: cadetblue; */

   display: flex;
   flex-direction: column;
   padding: 1em;
}

/* POZITIONAM CARDURILE LA EXTREMITATI */
#roadmap .tablet-desktop .left {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

#roadmap .tablet-desktop .right {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

/* FACEM LINIA DE PE MIJLOC */
#roadmap .tablet-desktop .left {
   height: 100%;
   width: 50%;

   /* border-right: 2px solid white; */
}

#roadmap .tablet-desktop .right {
   /* height: 1350px; */
   height: 1400px;
   width: 50%;
   /* height: 50%; */
   border-left: 4px solid white;
}

#roadmap .tablet-desktop .right,
#roadmap .tablet-desktop .left {
   display: flex;
   flex-direction: column;
   gap: 3em;
}

/* FACEM DIFERENTA COORDONATELOR DE START */
#roadmap .tablet-desktop .left {
   margin-top: -3em;
}

#roadmap .tablet-desktop .right {
   margin-top: 3em;
}

/* PUNCTUL DE PE ROADMAP */
#roadmap .tablet-desktop .card::after {
   content: "\f00c";

   width: 15px;
   height: 15px;

   border-radius: 100%;
   background-color: orange;

   position: absolute;
   top: 50%;

   outline: 5px solid white;
}

#roadmap .tablet-desktop .check::after {
   content: "\f00c";

   width: 15px;
   height: 15px;

   border-radius: 100%;
   background-color: green;
   /* clip-path: polygon(49% 76%, 93% 0, 100% 15%, 52% 100%, 13% 57%, 20% 40%); */
   position: absolute;
   top: 50%;
   color: #fff;
   outline: 5px solid white;
}

/* POZITIA PUNCTULUI PE AXA */
#roadmap .tablet-desktop .left .card::after {
   right: calc((min(800px, 80vw) * (25 / 100) / 2 * (-1)));
   transform: translate(50%, -50%);
}

#roadmap .tablet-desktop .right .card::after {
   left: calc((min(800px, 80vw) * (25 / 100) / 2 * (-1)));
   transform: translate(-50%, -50%);
}

/* LINIA CARE UNESTE CARDUL CU PUNCTUL */
#roadmap .tablet-desktop .card::before {
   content: "";

   width: 30%;
   height: 3px;

   background-color: rgb(255, 255, 255);
   position: absolute;
   top: 50%;
}

/* POZITIA LINIEI FATA DE CARD */
#roadmap .tablet-desktop .left .card::before {
   right: -30%;
}

#roadmap .tablet-desktop .right .card::before {
   left: -30%;
}

#roadmap .mobile {
   display: flex;
   flex-direction: column;

   gap: 2em;
   position: relative;
   font-weight: 300;
}

#roadmap .mobile::before {
   content: "";
   width: 3px;
   height: 100%;
   position: absolute;
   top: 0;
   left: 50%;
   transform: translate(-50%);
   background-color: white;
}

#roadmap .mobile .card {
   /* background-color: cadetblue; */
   padding: 0.5em;
   z-index: 100;

   max-width: 300px;
   margin: auto;
}

@media only screen and (min-width: 1024px) {
   #roadmap .mobile {
      display: none;
   }

   #roadmap .tablet-desktop {
      display: flex;
   }
}

@media only screen and (max-width: 1023px) {
   #roadmap .tablet-desktop {
      display: none;
   }

   #roadmap .mobile {
      display: flex;
   }
}

/* roadmap text */
.roadmap-text {
   text-align: center;
   color: #fff;
   font-weight: 300;
   /* padding: 2rem 0; */
   padding-bottom: 6rem;
}

.roadmap-text span {
   font-size: var(--title-team);
   position: relative;
   font-weight: 300;
}

.roadmap-text span::after {
   position: absolute;
   content: "";
   background-color: var(--btn-color);
   height: 5px;
   border-radius: 5px;
   bottom: -1rem;
   margin: 0 auto;
   left: 0;
   right: 0;
   width: 30%;
}

.roadmap-text h1 {
   padding-top: 2rem;
   font-size: var(--title-big-about);
   line-height: 3rem;
   font-weight: 300;
}

@media (max-width: 450px) {
   #roadmap {
      min-height: 100vh;
      width: min(800px, 80vw);
      margin: 4rem auto;
      font-weight: 100;
      color: white;
   }

   .roadmap-text {
      text-align: center;
      color: #fff;
      font-weight: 300;
      /* padding: 2rem 0; */
      padding-bottom: 3rem;
   }

   .roadmap-text span {
      font-size: 20px;
   }

   .roadmap-text h1 {
      padding-top: 2rem;
      font-size: 25px;
      line-height: 2rem;
      font-weight: 300;
   }

   #roadmap .card h2 {
      font-weight: 300;
      font-size: 20px;
   }
}
