@import "./home.css";
@import "./variables.css";
@import "./utility.css";
@import "./abous.css";
@import "./team.css";
@import "./roadmap.css";
@import "./footer.css";
@import "/fonts/style.css";

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
   box-sizing: border-box;
   overflow-x: hidden;
}

.container {
   width: 90%;
   margin: 0 auto;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
   color: #fff;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

body {
   font-family: "GROBOLD", sans-serif;
   width: 100%;
/* background: url("/images/backround.png"); */
   background-position: center;
   background-repeat: no-repeat;

   background-color: #220f53;
}

.to-top {
   background: white;
   position: fixed;
   bottom: 16px;
   right: 32px;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 32px;
   color: #1f1f1f;
   text-decoration: none;
   opacity: 0;
   pointer-events: none;
   transition: all 0.4s;
}

.to-top:hover {
   background-color: grey;
}

.to-top.active {
   bottom: 32px;
   pointer-events: auto;
   opacity: 1;
}

@media (max-width: 500px) {
   .to-top {
      opacity: 0;
   }

   .to-top.active {
      opacity: 0;
   }
}
