:root {
    --font-primary: "GROBOLD", sans-serif;
    --font-secondary: 'Myriad Pro', sans-serif;

    --btn-color: #FD562A;

    /* !HOME! */
    --title-home : 21px;
    --title-big-home: 50px;
    --title-button-home: 25px;

    /* !Utility! */
    --title-utility : 23px;
    --description-utility: 17px

    /* !About us! */
    --title-about : 28px;
    --title-big-about: 34px;
    --description-about: 20px;

    /* !FOOTER! */
     --title-team : 24px;
    --title-big-team: 50px;
    --description-team: 16px;
}
